:root {
    --coffe: #b6895b;
    --bg: #010101;
}


body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-image: url('../img/Cake.jpg');
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

.items {
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.pay-now {
    width: 100%;
    padding: 15px;
    background: var(--coffe);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 8px;
}

.pay-now:hover {
    background: var(--coffe);
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(3px);
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content input,
.popup-content select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-bayar {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.close {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #aaa;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.success {
    text-align: center;
}

.success button {
    padding: 12px 20px;
    background: var(--coffe);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.detail-box {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.detail-box p {
    font-size: 16px;
    margin: 6px 0;
}

.success button {
    margin: 10px;
    width: 80%;
}
